<div>
	<EditForm OnValidSubmit="@OnValidSubmitInvertion"
			  Model="@InversionPaletteValidation">
		<RadzenCard>
			@* Super IMPORTANT !!! *@
			<DataAnnotationsValidator />

			<div class="row">

				<div class="col-xl-3">
					<h4>Inversion de palettes</h4>	

					<div>Permet d'intervertir 2 palettes.</div>

					<div>
						<ValidationMessage For="@(() => InversionPaletteValidation.GisementRackPartant)" />
					</div>
					<RadzenDropDown AllowClear="true"
									TValue="string"
									FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
									FilterOperator="StringFilterOperator.StartsWith"
									AllowFiltering="true"
									Data=@RackFull
									TextProperty="GisementPos"
									ValueProperty="GisementPos"
									Placeholder="Choisir un Gisement occupé"
									@bind-Value="InversionPaletteValidation.GisementRackPartant"
									SelectedItemChanged=@OnSelectedRackPartant />

					<div class="margin-5px">
						<div>
							<ValidationMessage For="@(() => InversionPaletteValidation.GisementRackArrivant)" />
						</div>
						<RadzenDropDown AllowClear="true"
										TValue="string"
										FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
										FilterOperator="StringFilterOperator.StartsWith"
										AllowFiltering="true"
										Data=@RackFull
										TextProperty="GisementPos"
										ValueProperty="GisementPos"
										Placeholder="Choisir un Gisement occupé"
										@bind-Value="InversionPaletteValidation.GisementRackArrivant"
										SelectedItemChanged=@OnSelectedRackArrivant />
					</div>
				</div>
			</div>

			<span class="margin-10px">
				<button type="submit" class="padding-5">Transférer</button>

				<button type="reset"
						class="padding-5"
						@onclick="CloseInvertion">
					Terminer
				</button>
			</span>
		</RadzenCard>
	</EditForm>
</div>

@code {

	[Parameter]
	public EventCallback OnValidSubmitInvertion { get; set; }

	[Parameter]
	public EventCallback CloseInvertion { get; set; }

	[Parameter]
	public InversionPaletteValidation InversionPaletteValidation { get; set; }

	[Parameter]
	public IEnumerable<Rack> RackFull { get; set; }

	[Parameter]
	public EventCallback<Rack> SelectRackArrivant { get; set; }

	[Parameter]
	public EventCallback<Rack> SelectRackPartant { get; set; }


	private async void OnSelectedRackArrivant(object rack)
	{
		var rackSelected = rack as Rack;
		if (rackSelected != null)
		{
			await SelectRackArrivant.InvokeAsync(rackSelected);
		}
	}

	private async void OnSelectedRackPartant(object rack)
	{
		var rackSelected = rack as Rack;
		if (rackSelected != null)
		{
			await SelectRackPartant.InvokeAsync(rackSelected);
		}
	}
}
