@page "/settings"

@using RackManager.Composants 

<h3>Configuration</h3>

<RadzenTabs>
	<Tabs>
		<RadzenTabsItem Text="Clients">
			<GestionClientsComponent />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Commandes">
			<GestionCommande />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Racks">
			<GestionRack />
		</RadzenTabsItem>
	</Tabs>
</RadzenTabs>


@code {

}
