@page "/settings"

@attribute [Authorize(Roles = "Admin, Manager")]


@using RackManager.Composants

<h3>Configuration</h3>

<RadzenTabs>
	<Tabs>
		<RadzenTabsItem Text="Clients">
			<GestionClientsComponent />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Racks">
			<GestionRack />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Unités de mesure">
			<GestionUniteMesure />
		</RadzenTabsItem>

		<RadzenTabsItem Text="Produits">
			<GestionRack />
		</RadzenTabsItem>
	</Tabs>
</RadzenTabs>


@code {

}
